.bx--content {
    padding: $spacing-05;

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    
    .bx--spin {
        animation-name: spin;
        animation-duration: 700ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    .bx--icon-success {
        fill: $support-02;
    }

    .bx--icon-fail {
        fill: $support-01;
    }

    .bx--float-right {
        float: right;
    }

    .bx--float-left {
        float: left;
    }

    .bx--log-snippet {
        max-width: 100%;

        code {
            color: $text-01;
        }
    }

    .bx--copy {
        font-size: 0;
    }
    
    .bx--copy-btn {
        display: flex;
        width: 2.5rem;
        height: 2.5rem;
        align-items: center;
        justify-content: center;
        padding: 0;
        border: none;
        cursor: pointer;
        background-color: $ui-01;
    
        &:hover {
            background-color: $hover-ui;
        }
    }

    .bx--col_title {
        display: block;
        @include carbon--type-style('helper-text-01');
    }

    .bx--col_info {
        display: block;
        @include carbon--type-style('body-short-01');
    }
}